body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f6f9fc;
}
.Box {
  padding: 60px 0;
  background: linear-gradient(#c5dae7, #ebc3ae);
}
.common {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.left {
  width: 45%;
  float: left;
}
.left h1 {
  font-size: 42px;
  color: #1f2937;
  margin-bottom: 20px;
}
.left p {
  font-size: 15px;
  color: #555;
  line-height: 1.7;
  margin-bottom: 15px;
}
.right {
  width: 50%;
  float: right;
}
.ward {
  margin-bottom: 30px;
}
.number {
  color: #f59e0b;
  font-weight: bold;
  margin-right: 10px;
}
.award img {
  width: 70px;
  vertical-align: middle;
  display: inline-block;
}
.award-text {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  margin-left: 15px;
}
.award-text h3 {
  margin: 0;
  font-size: 18px;
  color: #111827;
}
.award-text p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #555;
}
.divider {
  height: 1px;
  background: #ddd;
  margin: 25px 0;
}
.clear {
  clear: both;
}