*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}
body {
  background: linear-gradient(#edf5fb, #ffffff);
  color: #0b2341;
}
.security {
  padding: 90px 20px;
}
.container {
  max-width: 1300px;
  margin: auto;
}
.title {
  text-align: center;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 80px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.content {
  padding-top: 30px;
}
.heading {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.heading p {
  margin-top: 15px;
}
.number {
  font-size: 20px;
  font-weight: 700;
  color: #9fb3c8;
  margin-top: -125px;
}
.numbers{
  font-size: 20px;
  font-weight: 700;
  color: #9fb3c8;
  margin-top: -95px;

}
.heading h3 {
  font-size: 22px;
  font-weight: 700;
}
.content p {
  font-size: 16px;
  line-height: 1.7;
  color: #3a4a5e;
}
@media (max-width: 992px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 32px;
  }
}