* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: #efe2e2c9;
}
.box {
  text-align: center;
  padding: 60px 30px;
}
.box h2 {
  font-size: 32px;
  margin-bottom: 10px;
}
.line {
  width: 60px;
  height: 3px;
  background: orange;
  margin: 0 auto 15px;
}
.subtitle {
  color: #666;
  max-width: 600px;
  margin: 0 auto 30px;
}
.sets {
  text-align: center;
}
.set {
  width: 260px;
  background: #fff;
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}
.img-box {
  width: 110px;
  height: 110px;
  margin: 0 auto 15px;
  border-radius: 50%;
  border: 3px solid orange;
  padding: 4px;
}
.img-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.set h3 {
  font-size: 18px;
  margin-bottom: 6px;
}
.role {
  display: inline-block;
  font-size: 11px;
  color: rgb(255, 106, 0);
  background: #edd9c2;
  padding: 4px 10px;
  border-radius: 20px;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.set p {
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
.media span {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  background: #e3dada;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 12px;
  cursor: pointer;
}