body {
  background: linear-gradient(90deg, #c9e440, #e0bcd6);
  font-family: Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
}

.team-slider {
  max-width: 850px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
}

.dc-bg {
  background: linear-gradient(135deg, #004c93, #d71920);
}

.rcb-bg {
  background: linear-gradient(135deg, #8b0000, #ff0000);
}

.team-slider h2 {
  color: white;
}

.slider {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.slider img {
  width: 320px;
  height: 200px;
  border-radius: 15px;
  border: 4px solid gold;
  object-fit: cover;
}

.slider button {
  background: gold;
  border: none;
  font-size: 22px;
  padding: 8px 14px;
  border-radius: 50%;
  cursor: pointer;
}

.action-btn {
  margin: 20px auto;
  display: block;
  padding: 10px 18px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #e0bcd6;
}

.counter-box {
  margin: 20px auto;
  width: 230px;
  padding: 20px;
  background: #e3bd34;
  border-radius: 15px;
  text-align: center;
}
p {
  text-align: center;
  font-size: larger;
  color: rgb(17, 221, 150);
}
