* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  background: #d7d5d5;
  padding: 40px;
}
.contact-section {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.subtitle {
  margin: 10px 0 40px;
  color: #777;
}
.contact-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
.contact-left {
  background: #efe3e3;
  padding: 30px;
  border-radius: 20px;
}
.info-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}
.card {
  background: #f0ddcb;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}
.card .icon {
  display: inline;
  font-size: 24px;
  margin-bottom: 10px;
  background-color: #eeae80f9;
  border-radius: 50%;
}
.card span {
  font-size: 12px;
  color: #777;
}
.contact-left h2 {
  margin-bottom: 10px;
}
h2 {
    text-align: left;
}
.form-desc {
  color: #777;
  margin-bottom: 20px;
  text-align: left;
}
.contact-form .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 15px;
}
.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 100%;
}
.contact-form textarea {
  height: 120px;
  margin-bottom: 20px;
}
.contact-form button {
  background: #ff7a18;
  border: none;
  color: white;
  padding: 12px 30px;
  border-radius: 30px;
  cursor: pointer;
}
.contact-right {
  background: linear-gradient(180deg, #ff7a18, #d86a5c);
  color: white;
  padding: 30px;
  border-radius: 20px;
}
.symbol{
  background-color: #f0b776;
  display: inline-block;
  border-radius:30%;
  width: 30px;
  height: 30px;
}
.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 20px 0;
}
.stat {
  background: rgba(255,255,255,0.15);
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

blockquote {
  font-style: italic;
  margin: 20px 0;
}
.author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.author img {
  border-radius: 50%;
}
.social span {
  font-size: 14px;
}
.icons a {
  display: inline-block;
  margin: 5px;
  background: rgba(255,255,255,0.2);
  padding: 6px 10px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}